fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt<4.0.0]
python-multipart
pandas
numpy
scikit-learn
xgboost
joblib
reportlab
matplotlib
seaborn
python-dotenv
slowapi
email-validator
